[[rules]]
name = "Find PDFs"
locations = ["/Users/brads/src/sparkle/test-examples/"]
subfolders = true

[[rules.filters]]
extension = "pdf" 

[[rules.actions]]
move = "/tmp"

[[rules]]
name = "rename vm.yaml"
locations = ["/Users/bradleydsmith/Projects/sparkle/test-examples/"]
subfolders = false

[[rules.filters]]
name_contains = "vm" 

[[rules.actions]]
rename = {pattern = "vm.yaml", replacement = "vm4.yaml"}


