[[rules]]
name = "Find PDFs"
locations = ["/Users/bradleydsmith/Projects/sparkle/test-examples/"]
subfolders = true

[[rules.filters]]
extension = "pdf" 

[[rules.actions]]
move = "/tmp"

[[rules]]
name = "Find javascript"
locations = ["/Users/bradleydsmith/Projects/sparkle/test-examples/"]
subfolders = true

[[rules.filters]]
extension = "js" 

[[rules.actions]]
echo = "found js"


